<div class="container">
    <div class="row justify-content-between mt-5">
        <div class="col-md-3">
            <div class="card border-info text-center">
                <div class="card-header">
                    <img class="img-card" src="../../assets/images/skill.png" class="card-img-top" alt="registration image">
                </div>
                <div class="card-body">
                    <a  class="btn btn-secondary" routerLink="/skill/list" routerLinkActive="active" >Register Skill</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info text-center">
                <div class="card-header">
                    <img class="img-card" src="../../assets/images/module.png" class="card-img-top" alt="registration image">
                </div>
                <div class="card-body">
                    <a  class="btn btn-secondary" routerLink="/module/list" routerLinkActive="active" >Register Module</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info text-center">
                <div class="card-header">
                    <img class="img-card" src="../../assets/images/batch.png" class="card-img-top" alt="registration image">
                </div>
                <div class="card-body">
                    <a  class="btn btn-secondary" routerLink="/batch/list" routerLinkActive="active" >Register Batch</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info text-center">
                <div class="card-header">
                    <img class="img-card" src="../../assets/images/Mapping.png" class="card-img-top" alt="registration image">
                </div>
                <div class="card-body">
                    <a  class="btn btn-secondary" routerLink="/module-skill-mapping/list" routerLinkActive="active" >Map Skill-Module</a>
                </div>
            </div>
        </div>
    </div>
</div>